<a href="https://colab.research.google.com/github/LicaCepillo/LicaCepillo/blob/main/Tratamento_dados_ENEM_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Projeto Análise Estatística ENEM 2019**

Este projeto analisa os resultados do ENEM do Estado de São Paulo do ano de 2019.

Os dados forma extraídos do site do INEP : http:\\inep.gov.br/microdados

In [2]:
import numpy as np
import pandas as pd

In [3]:
dados = pd.read_csv('/content/drive/MyDrive/Python_projetos_reforço/microdados_enem_2019_sp.csv', sep = ';',encoding='iso-8859-1')

# encoding: codificação de caracteres, normalmente utiliza-se o iso-8859-1, utf-8, latin-1))

In [4]:
dados.head()

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",3546801,Santa Isabel,35,SP,22,M,1,3,1,...,6002.0,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",3538204,Pinhalzinho,35,SP,19,M,1,3,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",3550308,São Paulo,35,SP,17,F,1,3,1,...,7318.0,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",3548708,São Bernardo do Campo,35,SP,19,M,1,3,1,...,3932.0,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",3549409,São Joaquim da Barra,35,SP,37,M,2,1,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

#Extração e Limpeza dos Dados

In [17]:
# O número de inscritos em São Paulo foi de 81377 (quantidade de linhas e colunas)
dados.shape

(813772, 44)

In [ ]:
# Análise  dos tipos de atributos
dados.dtypes

In [68]:
# Exclusão de uma coluna 

dados1 = dados.drop(columns=['CO_MUNICIPIO_RESIDENCIA'])

In [69]:
dados1.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",Santa Isabel,35,SP,22,M,1,3,1,1506500.0,...,6002.0,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",Pinhalzinho,35,SP,19,M,1,3,1,1503804.0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",São Paulo,35,SP,17,F,1,3,1,1501402.0,...,7318.0,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",São Bernardo do Campo,35,SP,19,M,1,3,1,3548708.0,...,3932.0,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",São Joaquim da Barra,35,SP,37,M,2,1,1,3549409.0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

In [70]:
# Excluindo mais colunas 

dados1 = dados1.drop(columns = ['NO_MUNICIPIO_NASCIMENTO','SG_UF_RESIDENCIA','CO_MUNICIPIO_NASCIMENTO'],)

In [71]:
dados1.head(40)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_UF_NASCIMENTO,SG_UF_NASCIMENTO,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",Santa Isabel,35,22,M,1,3,1,15.0,PA,...,6002.0,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",Pinhalzinho,35,19,M,1,3,1,15.0,PA,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",São Paulo,35,17,F,1,3,1,15.0,PA,...,7318.0,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",São Bernardo do Campo,35,19,M,1,3,1,35.0,SP,...,3932.0,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",São Joaquim da Barra,35,37,M,2,1,1,35.0,SP,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
5,"1,90E+11",Embu-Guaçu,35,17,F,1,3,1,13.0,AM,...,4192.0,0,1.0,120.0,120.0,120.0,120.0,80.0,560.0,B
6,"1,90E+11",São José dos Campos,35,28,F,1,1,1,13.0,AM,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
7,"1,90E+11",São José dos Campos,35,25,F,2,1,1,35.0,SP,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
8,"1,90E+11",Guarulhos,35,23,F,1,1,1,35.0,SP,...,7961.0,0,1.0,160.0,200.0,180.0,180.0,160.0,880.0,B
9,"1,90E+11",São Paulo,35,19,F,1,3,1,15.0,PA,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
10,"1,90E+11",São José do Rio Preto,35,18,F,1,1,1,15.0,PA,...,6128.0,1,1.0,120.0,160.0,120.0,80.0,100.0,580.0,A
11,"1,90E+11",Sumaré,35,22,F,1,4,1,15.0,PA,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
12,"1,90E+11",Franca,35,32,M,1,3,1,31.0,MG,...,5841.0,1,1.0,120.0,120.0,120.0,120.0,100.0,580.0,B
13,"1,90E+11",São Paulo,35,19,F,1,1,1,15.0,PA,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
14,"1,90E+11",Bauru,35,18,M,1,3,1,11.0,RO,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
15,"1,90E+11",Santo André,35,20,F,1,3,1,13.0,AM,...,5085.0,1,1.0,120.0,120.0,120.0,100.0,80.0,540.0,B
16,"1,90E+11",Campinas,35,20,F,1,4,1,13.0,AM,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
17,"1,90E+11",São Paulo,35,26,M,1,1,1,35.0,SP,...,6812.0,1,1.0,180.0,200.0,200.0,200.0,120.0,900.0,B
18,"1,90E+11",Santo André,35,44,F,2,3,1,15.0,PA,...,4881.0,1,1.0,120.0,120.0,120.0,120.0,40.0,520.0,B
19,"1,90E+11",São Paulo,35,42,F,1,3,1,12.0,AC,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
20,"1,90E+11",Santos,35,15,F,1,3,1,12.0,AC,...,5732.0,0,1.0,140.0,120.0,120.0,100.0,80.0,560.0,B
21,"1,90E+11",Panorama,35,16,F,1,3,1,35.0,SP,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
22,"1,90E+11",Jaguariúna,35,19,M,1,3,1,12.0,AC,...,5055.0,0,1.0,160.0,120.0,120.0,100.0,0.0,500.0,A
23,"1,90E+11",São Paulo,35,17,F,1,3,1,22.0,PI,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
24,"1,90E+11",São Bernardo do Campo,35,32,F,1,2,1,21.0,MA,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
25,"1,90E+11",Poá,35,57,M,2,1,1,35.0,SP,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
26,"1,90E+11",Carapicuíba,35,21,M,1,3,1,21.0,MA,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
27,"1,90E+11",Guará,35,17,F,1,3,1,22.0,PI,...,5351.0,0,1.0,140.0,120.0,140.0,160.0,120.0,680.0,B
28,"1,90E+11",Cajamar,35,17,F,1,2,1,22.0,PI,...,5107.0,1,1.0,120.0,180.0,120.0,120.0,120.0,660.0,B
29,"1,90E+11",São Paulo,35,50,F,1,1,1,21.0,MA,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
30,"1,90E+11",Osasco,35,17,F,1,3,1,22.0,PI,...,4238.0,1,1.0,140.0,120.0,120.0,140.0,0.0,520.0,A
31,"1,90E+11",São Paulo,35,19,F,1,3,1,22.0,PI,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
32,"1,90E+11",São Paulo,35,19,M,1,3,1,35.0,SP,...,4578.0,1,1.0,100.0,120.0,120.0,120.0,100.0,560.0,B
33,"1,90E+11",São Paulo,35,38,F,2,3,1,22.0,PI,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
34,"1,90E+11",São Paulo,35,50,M,3,3,1,21.0,MA,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
35,"1,90E+11",São Paulo,35,18,F,1,1,1,23.0,CE,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
36,"1,90E+11",Campinas,35,17,F,1,1,1,23.0,CE,...,4965.0,0,1.0,160.0,120.0,140.0,140.0,120.0,680.0,B
37,"1,90E+11",São Paulo,35,18,F,1,3,1,23.0,CE,...,6129.0,0,1.0,160.0,200.0,160.0,180.0,180.0,880.0,B
38,"1,90E+11",São José dos Campos,35,17,M,1,1,1,17.0,TO,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
39,"1,90E+11",Osasco,35,38,F,1,3,1,22.0,PI,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

In [72]:
dados1 = dados1.drop(columns=['SG_UF_NASCIMENTO', 'TP_ANO_CONCLUIU','TP_ENSINO','CO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC'],)

In [73]:
dados1 = dados1.drop(columns=['TP_DEPENDENCIA_ADM_ESC','TP_LOCALIZACAO_ESC','TP_SIT_FUNC_ESC'],)

In [74]:
dados1.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",Santa Isabel,35,22,M,1,3,1,15.0,1,...,6002.0,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",Pinhalzinho,35,19,M,1,3,1,15.0,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",São Paulo,35,17,F,1,3,1,15.0,2,...,7318.0,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",São Bernardo do Campo,35,19,M,1,3,1,35.0,2,...,3932.0,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",São Joaquim da Barra,35,37,M,2,1,1,35.0,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

In [76]:
dados1 = dados1.drop(columns=['CO_UF_RESIDENCIA', 'CO_UF_NASCIMENTO'],)

In [77]:
dados1.shape

(813772, 29)

In [79]:
dados1.dtypes

NU_INSCRICAO                object
NO_MUNICIPIO_RESIDENCIA     object
NU_IDADE                     int64
TP_SEXO                     object
TP_ESTADO_CIVIL              int64
TP_COR_RACA                  int64
TP_NACIONALIDADE             int64
TP_ST_CONCLUSAO              int64
TP_ESCOLA                    int64
IN_TREINEIRO                 int64
CO_ESCOLA                  float64
NO_MUNICIPIO_ESC            object
TP_PRESENCA_CN               int64
TP_PRESENCA_CH               int64
TP_PRESENCA_LC               int64
TP_PRESENCA_MT               int64
NU_NOTA_CN                 float64
NU_NOTA_CH                 float64
NU_NOTA_LC                 float64
NU_NOTA_MT                 float64
TP_LINGUA                    int64
TP_STATUS_REDACAO          float64
NU_NOTA_COMP1              float64
NU_NOTA_COMP2              float64
NU_NOTA_COMP3              float64
NU_NOTA_COMP4              float64
NU_NOTA_COMP5              float64
NU_NOTA_REDACAO            float64
Q025                        object
dtype: object

In [80]:
dados1.loc[:,'NU_NOTA_CH']/=10
dados1.loc[:,'NU_NOTA_LC']/=10
dados1.loc[:,'NU_NOTA_MT']/=10
dados1.loc[:,'NU_NOTA_CN']/=10

In [81]:
dados1.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,IN_TREINEIRO,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",Santa Isabel,22,M,1,3,1,1,1,0,...,600.2,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",Pinhalzinho,19,M,1,3,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",São Paulo,17,F,1,3,1,2,3,0,...,731.8,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",São Bernardo do Campo,19,M,1,3,1,2,2,0,...,393.2,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",São Joaquim da Barra,37,M,2,1,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

###Renomeando Variáveis (Colunas)

In [82]:
dados1 = dados1.rename(columns = {'NU_NOTA_REDACAO':'NOTA_REDACAO'})

In [87]:
dados1.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,IN_TREINEIRO,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,3,1,1,1,0,...,600.2,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",Pinhalzinho,19,M,1,3,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",São Paulo,17,F,1,3,1,2,3,0,...,731.8,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",São Bernardo do Campo,19,M,1,3,1,2,2,0,...,393.2,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",São Joaquim da Barra,37,M,2,1,1,1,1,0,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

In [84]:
dados1 = dados1.rename(columns = {'NU_NOTA_CN':'NOTA_CN','NU_NOTA_CH':'NOTA_CH', 'NU_NOTA_LC':'NOTA_LC', 'NU_NOTA_MT':'NOTA_MT' })

In [85]:
dados1 = dados1.rename(columns = {'NU_NOTA_COMP1':'COMP1','NU_NOTA_COMP2':'COMP2','NU_NOTA_COMP3':'COMP3',
                                  'NU_NOTA_COMP4':'COMP4','NU_NOTA_COMP5':'COMP5'})

In [86]:
dados1 = dados1.rename(columns ={'NU_IDADE':'IDADE','TP_SEXO': 'SEXO',
                                  'TP_COR_RACA':'RACA', 'Q025': 'INTERNET',
                                  'TP_ESCOLA':'ESCOLA'})

###Renomeando Linhas